*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: "Playwrite DE Grund", cursive;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   
   
  
   

}

.box{
    width: 420px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
    background-color: rgba(193, 110, 248, 0.315) ;
    ;

}

.box h1{
    font-size: 36px;
    text-align: center;
}

.box .input_box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input_box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    
}

.input_box input ::placeholder{
    color: rgb(0, 0, 0);
}


.msg_erro{
    color: red;
    font-size: 13px;
    
}

.box .btn{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    font-weight: 600;
    margin-top: 14px;
}

.btn:hover{
    background-color: #414040;
}

.btn:active{
    background-color: #000000;
}

.box .cadastro{
    font-size: 14.5;
    text-align: center;
    margin: 20px 0 15px;


}
.cadastro p a{
    color: #16587a;
    text-decoration: none;
    font-weight: 600;
}

.cadastro p a:hover{
    text-decoration: underline;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 100,
  'opsz' 24;
  margin-left: 10px;
  margin-bottom: 350px;
  
}
.material-symbols-outlined:hover{
    font-variation-settings:
  'FILL' 100,
  'wght' 10000,
  'GRAD' 100,
  'opsz' 24
}




.popup {
    position: relative;
    cursor: pointer;
}
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 9px;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 120%;
  }
  .popup .show {
    visibility: visible;
    animation: fadeIn 1s;
    
  }